body {
    background-color: lightgray;
}


.container {

    display: flex;
    margin: auto;
    padding: auto;
    width: 100%;

}



table th {
    border: 1px solid #A3A3A3;
    justify-content: center;

}

table td {
    border: 1px solid #A3A3A3;
    width: 40px;
    height: 40px;
}

.addBgColor {

background-color: lightgray;

}